.first-row > button, 
.second-row > button,
.third-row > button{
    width: 3.5rem;
    height: 3rem;
}
.search-string{
    height: 1.5rem;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .1rem;
}

