.first-row > button, 
.second-row > button,
.third-row > button,
.numbers-row > button{
    width: 3rem;
    height: 2rem;
  
}
.search-string{
    height: .7rem;
    font-size: .7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .1rem;
}

.main-keyboard{
    font-weight: 600;
}

.keyboard-button{
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}