body{
  background: black;
  border: 1px solid white;
  padding: 1px;
  border-radius: 5px;
}
.main-player{
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  background: black;
}
.main-player > *{
  flex: 1;

}
#img-cover{
  background-image: url('./logo.rs.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40vh;
  width: 100%;
}
.cdg-player{

  height: 50vh;
  
  /* background: greenyellow; */
  margin-bottom: 2rem;
  color: white;
}
.hide{
  display: none;
}

/* #song_volume_button i{
  padding-right: .5rem;
  height: .2rem;
  color: skyblue;
}
#song_volume_button{
  background-color: black;
  height: 1rem;
} */
/* .icofont-pause{
  border: 0;
  margin-bottom: 0.3rem;
  background: black;
  color: skyblue;
} */


/* .cdg-controls{
  height: 10rem;
  padding: .1rem;
} */
.cdg-controls .playButton, 
.cdg-controls .volumeButton{
  display: none;
  border: 0;
  border-radius: 1px;
  height: 3rem;
  padding: .2rem;
  width: 3rem;
  margin: auto;
  pointer-events: all;
}
.cdg-controls .playButton>i, 
.cdg-controls .volumeButton>i{
  display: none;
  margin: auto;
  border: 0;
  border-radius: 1px;
  height: 2rem;
  padding: 0;
  width: 1.5rem;
  pointer-events: all;

}


.play-list{
  width: 100%;
  height: 40vh;
  color: white;
  overflow-y: scroll;
  overflow-x: none;
 
}
.play-list >*{
  flex-basis: 25%;
}
.all-songs{
  flex: 1;
  color: white;
  
}


.buttons-controls{
 
  display: flex;
  gap: .5rem;
  flex-direction: row;
  
}
.btn-inside-controls{
  display: flex;
  flex-basis: 100%;
  gap: 1rem;
}

.btn-inside-controls > *, #full-screen {
  flex-basis: 100%;
  font-size: 1.5rem;
  
}
#cdg-wrapper{
  width: 20rem;
}
canvas{
  width: 30rem;
  height: 25rem;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 10px;
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
}
thead th{
  /* border: .2rem solid white; */
  box-shadow: .01rem .1rem .01rem white;
}
tr:nth-child(even){
  background-color: rgb(38, 37, 37);
  
}

tr:hover{
opacity: .8;
  tr:nth-child(even){
    background-color: black;
  
}
}
