body{
  background: black;
  border: 1.5px solid white;
  padding: 1.5px;
  border-radius: 5px;
}
.main-player{
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  background: black;
}
.main-player > *{
  flex: 1;

}
#img-cover{
  background-image: url('./logo.rs.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40vh;
  width: 100%;
}
/* CDG CONTOLS */
.cdg-player{
  height: 50vh;
  margin-bottom: 2rem;
  color: white;
}
.hide{
  display: none;
}

 #song_volume_button i
 
 {

  color: skyblue;

}

.playControl, .playButton{
  width: 3.2rem;
  height: 3.2rem;
}
.playButton > i{
  color: skyblue;
}

 #song_volume_button{
  background-color: black;
} 

.playControl{
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: content;
}
.playButton{
  background-color: black;
}


.cdg-controls{
  margin: .3rem;
}
.cdg-controls > *{
  padding: .1rem;
}


.play-list{
  width: 100%;
  height: 35vh;
  color: white;
  overflow-y: scroll;
  overflow-x: none;
 
}
.play-list >*{
  flex-basis: 25%;
}
.all-songs{
  flex: 1;
  color: white;
  
}
.all-songs h2{
  color: aqua;
}

.buttons-controls{
 
  display: flex;
  gap: .5rem;
  flex-direction: row;
  
}
.btn-inside-controls{
  display: flex;
  flex-basis: 100%;
  gap: 1rem;
}

.btn-inside-controls > *, #full-screen {
  flex-basis: 100%;
  font-size: 1.5rem;
  
}
#cdg-wrapper{
  width: 20rem;
}
canvas{
  width: 30rem;
  height: 25rem;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 10px;
}

/* TABLES */
table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
}
thead th{
  /* border: .2rem solid white; */
  box-shadow: .01rem .1rem .01rem white;
  box-shadow: .1rem .1rem .1rem solid skyblue;
}
tr:nth-child(even){
  background-color: rgb(38, 37, 37);
  
}

tr:hover{
opacity: .8;
  tr:nth-child(even){
    background-color: black;
  
}
}


/* SEARCH */
.search{
  margin-left: 2rem;
  padding: 1rem;
}
.search > *{
  margin: .5rem;
}

