body{
  background: black;
  font-size: 12px;
}
h6{color:aqua;}
.main-player {
  /* border: 3px solid white; */
  display: grid;
  background: black;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
  @media screen and (max-width: 60em) {
    grid-template-rows: repeat(4, 1fr);
  }
}

.cdg-container {
  /* border: 3px solid white; */

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
}

.all-songs-container{
  /* border: 3px solid white; */
  
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
}

.play-list-container {
  /* border: 3px solid white; */
  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }
}

.search-container  {
  /* border: 3px solid white; */

  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
}

/* .callout {
  margin: 0;
} */

#img-cover{

  background-image: url('./blue_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30vh;
  width: 50%;
  margin: 2rem auto;
}

.hide{
  display: none;
}
 #song_volume_button i
 
 {

  color: skyblue;

}
.playControl, .playButton{
  width: 3.2rem;
  height: 3.2rem;
}
.playButton > i{
  color: skyblue;
}

 #song_volume_button{
  background-color: black;
} 

.playControl{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: content;
}
.playButton{
  background-color: black;
}

/* CDG CONTOLS */
.cdg-player{
  /* background-color: red; */
  width: 90%;
  height: 50%;
  margin: auto;
  color: white;
}
.cdg-player-container{
  width: 100%;
  /* height: 10%; */
}
/* CDG WRAPPER AND CANVAS*/
#cdg-wrapper{
  width: 100%;
}
canvas{
  /* width: 15rem; */
  height: 20rem;
}

.cdg-controls{
  margin: .3rem;
}
.cdg-controls > *{
  padding: .1rem;
}
.all-songs-container{

  /* max-height: 50vh; */
}
.all-songs{
  width: 100%;
  height: 15rem;
  margin-top: .2rem;
  color: white;
  overflow-y: scroll;
  overflow-x: none;
}
.all-songs{
  flex: 1;
  color: white;
}

.all-songs h2, .play-list h1, h6{
  color: aqua;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
.titles{
  height: 24rem;
  margin-top: .2rem;
  color: white;
  overflow-y: scroll;
  overflow-x: none;
}
.play-list >*{
  flex-basis: 25%;
}
.play-list{
  width: 100%;
  height: 18rem;
  color: white;
  overflow-y: scroll;
  overflow-x: none;
 
}


.buttons-controls{
  display: flex;
  gap: .5rem;
  flex-direction: row;
  /* margin-bottom: .5rem; */
}
.btn-inside-controls{
  display: flex;
  flex-basis: 100%;
  gap: 1rem;
}

.btn-inside-controls > *, #full-screen {
  flex-basis: 100%;
  font-size: 1.5rem;
  
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
  scrollbar-width: thin;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 8px;  
  scrollbar-width: thin;
}

/* TABLES */
table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
}
thead th{
  /* border: .2rem solid white; */
  box-shadow: .01rem .1rem .01rem white;
  box-shadow: .1rem .1rem .1rem solid skyblue;
}
tr:nth-child(even){
  background-color: rgb(38, 37, 37);
  
}

tr:hover{
opacity: .8;
  tr:nth-child(even){
    background-color: black;
  
}
}


/* SEARCH */
.search{
  margin-left: 1rem;
  padding: .1rem;
}
.search > *{
  margin:0 .01rem;
  
}
.search-string{
  color: blue;
}

/* check box Search */
#artist-check{
  margin: 0 1rem;
  appearance: none;
}

input[type="checkbox"]{
  position: relative;
  width: 2rem;
  height: 1rem;
  /* -webkit-appearance: none; */
  appearance: none;
  background-color: aqua;
  background: linear-gradient(0deg, aqua, blue);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgb(146, 243, 243),0 0 0 1px rgb(161, 219, 214);
}

input[type="checkbox"]::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(0deg, #333, #000);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(.98, .96);
  transition: .5s;
}

input:checked[type="checkbox"]::before{
  left: 1rem;
}

/* 
HOW TO CENTER A DIV
.(PARENT-ELEMENT)-center{
  display: flex;
  felx-direction: column;
  aling-items: center;
  justify-content: center;
}

PARA MODALES
main{
  min-height: 100vh;
  position: relative;
}
div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/

