{% extends '_base.html' %}
<!DOCTYPE html>
{% block html %}
<html lang="">
  <head>{% block head %}{{block.super}}{% endblock %}
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <script type="text/javascript" src="./node_modules/jszip/dist/jszip.min.js"></script>
    <script type="text/javascript" src="./node_modules/jszip-utils/dist/jszip-utils.min.js"></script>
    <script type="text/javascript" src="./node_modules/jsmediatags/dist/jsmediatags.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
  </head>
  <body>
    {% block body %}
    {{block.super}}
  
    <div id="app"></div>
    <!-- built files will be auto injected -->
    {% csrf_token %}
    {% endblock body%}
    <script type="module" src="/src/main.js"></script>
    <script type="module" src="/src/index.js"></script>
  </body>
</html>
{% endblock html %}